---
Checks: >
  *,
  -modernize-use-trailing-return-type,
  -modernize-use-nullptr,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -fuchsia-default-arguments,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -modernize-use-auto,
  -modernize-use-equals-default,
  -modernize-use-equals-delete,
  -modernize-use-nodiscard,
  -modernize-use-override,
  -modernize-use-transparent-functors,
  -modernize-use-uncaught-exceptions,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -hicpp-no-array-decay,
  -concurrency-mt-unsafe,
  -readability-function-cognitive-complexity,
  -readability-uppercase-literal-suffix,
  -cert-dcl21-cpp,
  -cert-err33-c,
  -cert-err58-cpp,
  -cert-flp30-c,
  -cert-msc30-c,
  -cert-msc32-c,
  -cert-msc50-c,
  -cert-msc51-cpp,
  -cert-oop11-cpp,
  -cert-oop54-cpp,
  -cert-str34-c,
  -llvm-include-order,
  -llvm-namespace-comment,
  -llvm-prefer-isa-or-dyn-cast-in-conditionals,
  -llvm-twine-local,
  -android-cloexec-accept,
  -android-cloexec-accept4,
  -android-cloexec-creat,
  -android-cloexec-dup,
  -android-cloexec-epoll-create,
  -android-cloexec-epoll-create1,
  -android-cloexec-fopen,
  -android-cloexec-inotify-init,
  -android-cloexec-inotify-init1,
  -android-cloexec-memfd-create,
  -android-cloexec-open,
  -android-cloexec-openat,
  -android-cloexec-pipe,
  -android-cloexec-pipe2,
  -android-cloexec-socket,
  -android-cloexec-socketpair,
  -abseil-duration-compare,
  -abseil-duration-division,
  -abseil-faster-absl-roundtrip-conversions,
  -abseil-no-internal-duration-functions,
  -abseil-no-internal-linkage-in-header,
  -abseil-string-find-startswith,
  -abseil-string-find-str-contains,
  -abseil-time-comparison,
  -abseil-upgrade-duration-conversions,
  -abseil-upgrade-string-view,
  -abseil-redundant-string-cstr
