Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-named-parameter,
  -readability-identifier-length,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-equals-default,
  -modernize-use-equals-delete

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
