# @MODULE_NAME@ 模块测试 CMakeLists.txt

# 添加测试用例
file(GLOB_RECURSE TEST_SRCS
    test_*.c
)

foreach(test_src ${TEST_SRCS})
    get_filename_component(test_name ${test_src} NAME_WE)
    add_executable(${test_name} ${test_src})
    target_link_libraries(${test_name} PRIVATE
        idcu_@MODULE_DIR@
        idcu_core_test_framework
    )
    add_test(NAME ${test_name} COMMAND ${test_name})
endforeach()
