#include "idcu/testframework/test_framework.h"
#include "idcu/@MODULE_DIR@/@MODULE_DIR@.h"

TEST_CASE(@MODULE_NAME@_test_init) {
    int ret = idcu_@MODULE_NAME@_init();
    TEST_ASSERT_EQUAL(IDCU_ERR_SUCCESS, ret);
}

TEST_CASE(@MODULE_NAME@_test_run) {
    int ret = idcu_@MODULE_NAME@_run();
    TEST_ASSERT_EQUAL(IDCU_ERR_SUCCESS, ret);
}

TEST_CASE(@MODULE_NAME@_test_counter) {
    int counter = idcu_@MODULE_NAME@_get_counter();
    TEST_ASSERT_TRUE(counter >= 0);
}

TEST_CASE(@MODULE_NAME@_test_stop) {
    int ret = idcu_@MODULE_NAME@_stop();
    TEST_ASSERT_EQUAL(IDCU_ERR_SUCCESS, ret);
}

TEST_SUITE(@MODULE_NAME@_tests) {
    RUN_TEST_CASE(@MODULE_NAME@_test_init);
    RUN_TEST_CASE(@MODULE_NAME@_test_run);
    RUN_TEST_CASE(@MODULE_NAME@_test_counter);
    RUN_TEST_CASE(@MODULE_NAME@_test_stop);
}
